<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book Information</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
       rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
       crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class = "row">
            <h1>Book Information</h1>
            <a th:if="${login}">welcome user</a>
            <a th:if="${login}" th:object="${book}" th:text="${user.name}"></a>
        </div>
       <div>
        <a th:if="${login}" class="btn btn-success" th:href="@{/admin/new}">Create Book</a>
       </div>
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Publish Date</th>
                    <th>Number of Pages</th>
                    <th>Sold</th>
                    <th th:if="${login}">Actions</th>
                </tr>
            </thead>
            <tbody>
              
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.category}"></td>
                    <td th:text="${book.description}"></td>
                    <td th:text="${book.publishdate}"></td>
                    <td th:text="${book.numberofpage}"></td>
                    <td th:text="${book.sold}"></td>
                    <td th:if="${login}">
                        <a class="btn btn-primary btn-sm" th:href="@{/admin/view/{id}(id=${book.id})}">View</a>
                        <form th:action="@{/admin/delete}" style="display:inline-block" method="post" onsubmit="return confirm('Are you sure?')">
                                    <input type="hidden" id="id" name="id" th:name="id" th:value="${book.id}" />
                                    <button type="submit" class="btn btn-danger">delete</button>
                                </form>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <a class="btn btn-secondary" th:href="@{/logout}">Logout</a>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    crossorigin="anonymous"></script>
</body>
</html>